.summary-top-card{
  margin: 1em;
}

.top-card-1-content{
  text-align: center;
}

.top-card-1-content-number{
  font-weight: bold;
  font-size: 200%;
}

.fa-caret-up{
  color: green;

}

.percentage-number{
  font-size: 125%;
}

.prev-number{
  color: grey;
}
