<mat-grid-list cols="1" rowsHeight="1:1">
  <mat-card class="summary-top-card mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>What's HELP e-merchandising plaform site's summary for today</mat-card-title>
      <mat-card-subtitle>Website: www.helpemerhandising.com.my</mat-card-subtitle>
    </mat-card-header>





    <mat-card-content>

      <div fxLayout="row" fxLayoutAlign="space-between-center" fxLayoutGap="3em" class="stats-cards-2">
        <mat-card class="top-card-1" fxFlex="30" class="mat-elevation-z0">
        <mat-card-content>
          <div class="top-card-1-content">
            <h1>Number of Visitors</h1>
            <h2 class="top-card-1-content-number">1,526</h2>
            <p class="percentage-number"><i class="fas fa-caret-up"></i> 47.3%</p>
            <p class="prev-number">vs 1,038 (prev.)</p>

          </div>

          <app-widget-area-line></app-widget-area-line>
        </mat-card-content>
        </mat-card>

        <mat-card class="top-card-1" fxFlex="30" class="mat-elevation-z0">
          <mat-card-content>
            <div class="top-card-1-content">
              <h1>Number of Sessions</h1>
              <h2 class="top-card-1-content-number">658</h2>
              <p class="percentage-number"><i class="fas fa-caret-up"></i> 28.9%</p>
              <p class="prev-number">vs 511 (prev.)</p>

            </div>
            <app-widget-area-line-sessions></app-widget-area-line-sessions>
          </mat-card-content>
          </mat-card>

          <mat-card class="top-card-1" fxFlex="30" class="mat-elevation-z0">
            <mat-card-content>
              <div class="top-card-1-content">
                <h1>Number of New Users</h1>
                <h2 class="top-card-1-content-number">327</h2>
                <p class="percentage-number"><i class="fas fa-caret-up"></i> 13.5%</p>
                <p class="prev-number">vs 511 (prev.)</p>

              </div>
              <app-widget-area-line-sessions></app-widget-area-line-sessions>
            </mat-card-content>
            </mat-card>
      </div>


    </mat-card-content>

  </mat-card>

</mat-grid-list>


