<ol>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/singup">Signup</a></li>
  <li><a routerLink="/dashboard">Dashboard</a></li>
  <li><a routerLink="/product-category-sales-report">Product Category Sales Report</a></li>
  <li><a routerLink="/monthly-sales-report">Monthly Sales Report</a></li>
  <li><a routerLink="/data-entry-management">Data Entry Management</a></li>
  <li><a routerLink="/detailed-report">Detailed Report</a></li>
  <li><a routerLink="/forecast-report">Forecast Report</a></li>
</ol>


<router-outlet></router-outlet>
