<side-nav-cts>
  <div id="main">

    <!-- mini card array row -->
    <div class="main-wrapper">
      <div  fxLayout="row" class="card-array-wrapper">
        <div id="card-1" class="mini-card-wrapper">
          <app-mini-card label="Revenue" suffix="MYR" [percentage]="revenuePercentage" colorTheme="#03bf00" [data]="revenueData"></app-mini-card>
        </div>
        <div id="card-2" class="mini-card-wrapper">
          <app-mini-card label="Item Sold" suffix="" [percentage]="itemSoldPercentage" colorTheme="#03bf00" [data]="itemSoldData"></app-mini-card>
        </div>
        <div id="card-2" class="mini-card-wrapper">
          <app-mini-card label="Views" suffix="" [percentage]="viewPercentage" colorTheme="#03bf00" [data]="viewData"></app-mini-card>
        </div>
        <div id="card-1" class="mini-card-wrapper">
          <app-mini-card label="Instock" suffix="" [percentage]="inStockPercentage" colorTheme='#1441c9' [data]="inStockData" hideIcon='true'></app-mini-card>
        </div>

        <!-- <app-mini-card></app-mini-card>
        <app-mini-card></app-mini-card> -->
      </div>
    </div>

    <!-- product revenue/sold and sales through rate -->
    <div class="main-wrapper">
      <div  fxLayout="row" class="card-array-wrapper">
        <div class="medium-card-wrapper">
         <app-product-revenue></app-product-revenue>
        </div>
        <div class="medium-card-wrapper">
          <app-sell-through></app-sell-through>
        </div>
      </div>
    </div>

    <!-- product's order list -->
    <div class="main-wrapper">
      <div  fxLayout="row" class="card-array-wrapper">
        <div class="large-card-wrapper">
          <app-mini-card label="Sales" total="18k" percentage="50" hidechart="true"></app-mini-card>
        </div>
      </div>
    </div>
  </div>
</side-nav-cts>
